<!DOCTYPE html>
<html lang="en">
<head>
    <!-- do not delete this link -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>looknearby ⦁ messages</title>
</head>
<body>
    <!-- this is the name of the room -->
    <!-- FOR STYLE -->
    {{ room }}


    <!-- this div is for displaying all the messages -->
    <!-- FOR STYLE -->
    <div id="display"> <!-- do not change the id -->

    </div>


    <!-- do not change this script tag -->
    <script>
    $(document).ready(function(){
  
      setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "{% url 'chat:getMessages' room %}",
            success: function(response){
              console.log(response);
              $("#display").empty();
              for (var key in response.messages)
              {
                  var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                  $("#display").append(temp);
              }
            },
            error: function(response){
              alert('An error occured')
            }
          });
        },1000);
      })
  </script>
  






    <!-- this div for inputting the message and send the message using the button-->
    <!-- FOR STYLE -->
    <div>
        <!-- do not change the ids -->
        <form id="post-form">
            {% csrf_token %}
            <input type="text" name="username" id="username" value="{{request.user.username}}" hidden/>
            <input type="text" name="room_id" id="room_id" value="{{room}}" hidden/>
            <input type="text" name="message" id="message" width="100px" />
            <input type="submit" value="Send">
        </form>

    </div>


    
    <!-- do not change this script tag -->
    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
          e.preventDefault();
      
          $.ajax({
            type:'POST',
            url:"{% url 'chat:room' room %}",
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
               //alert(data)
            }
          });
          document.getElementById('message').value = ''
        });
      </script>

</body>
</html>